@reference "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-black font-bold text-3xl my-8;
  }
  h2 {
    @apply text-black font-bold text-2xl my-8;
  }
  h3 {
    @apply text-black font-semibold text-xl my-8;
  }
  p {
    @apply text-lg my-8;
  }
  a {
    @apply underline;
  }

  @media (min-width: 640px) {
    h2 { font-size: theme(fontSize.2xl); }
    h3 { font-size: theme(fontSize.xl); }
    p { font-size: theme(fontSize.lg); }
  }

  @media (min-width: 768px) {
    h1 { font-size: theme(fontSize.4xl); }
    h2 { font-size: theme(fontSize.3xl); }
    h3 { font-size: theme(fontSize.2xl); }
    p { font-size: theme(fontSize.xl); }
  }

  @media (min-width: 1024px) {
    h1 { font-size: theme(fontSize.5xl); }
    h2 { font-size: theme(fontSize.3xl); }
    h3 { font-size: theme(fontSize.2xl); }
    p { font-size: theme(fontSize.2xl); }
  }

  @media (min-width: 1280px) {
    h1 { font-size: theme(fontSize.6xl); }
    h2 { font-size: theme(fontSize.4xl); }
    h3 { font-size: theme(fontSize.3xl); }
    p { font-size: theme(fontSize.3xl); }
  }
}

@layer components {
	.wpml-ls-statics-footer.wpml-ls.wpml-ls-legacy-list-horizontal {
		display: none;
	}

	a.skip-to-content{
		display: block;
	}

	a.skip-to-content {
		left: -999px;
		position: absolute;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		z-index: -999;
	}
	a.skip-to-content:focus {
		width: auto;
		z-index: 99999;
		top: 8px;
		left: 16px;
		display: inline-block;
		color: white;
		overflow: visible;
		outline: 4px solid green;
		outline-offset: 2px;
		background-color: green;
		height: 32px;
		line-height: 32px;
		padding-left: 16px;
		padding-right: 16px;
	}
	@media (min-width: 640px) {
		a.skip-to-content:focus {
			height: 40px;
			top: 16px;
			left: 24px;
			line-height: 40px;
		}
	}
	[data-whatintent='mouse'] a.skip-to-content:focus {
		left: -999px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		z-index: -999;
	}

	.btn.disabled {
		background-color: #808080;
		color: black;
		opacity: .8;
	}
	.btn.disabled:hover {
		background-color: #808080;
		color: black;
		opacity: .5;
	}
}
